.user-container{
  width:600px;
  margin:auto;
  margin-top:40px;
}

.menu-buttons{
  margin-bottom:30px;
}

.menu-buttons button{
  margin-right:10px;
  padding:8px 15px;
}

.user-form{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.user-form input{
  padding:6px;
}

table{
  border-collapse:collapse;
}

table th, table td{
  border:1px solid black;
  padding:6px 10px;
}